*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.navbar{
    background-image: linear-gradient(#E1A140,#EFCFA0);
 }
 .nav-item{
    font-size: 22px !important; }

.actionbtn{
   background-image: linear-gradient(#E1A140,#EFCFA0);
   border: none !important;
   box-shadow: none !important;
   font-size: 18px !important;

}  
.navbar-brand{
    font-size: 22px;
}
#search-form{
    width:430px !important;
}
.nav-tabs .nav-link.active{
    background-image: linear-gradient(#E1A140,#EFCFA0);
    color: white !important;
 }  